<!DOCTYPE html>
<html>
<head>
    <title>Budget Splitter</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" src="https://cdnjs.cloudflare.com/ajax/libs/js-cookie/3.0.1/js.cookie.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/js-cookie/3.0.1/js.cookie.min.js"></script>
    <script>
        $(document).ready(function() {
            $('#numIncomes').on('input', function() {
                var numIncomes = parseInt($(this).val());
                var expensesContainer = $('#expenses-container');
                expensesContainer.empty();

                for (var i = 1; i <= numIncomes; i++) {
                    var inputHTML = `
                        <div>
                            <label for="name_${i}">Person ${i}'s Name</label>
                            <input type="text" name="name_${i}" id="name_${i}">
                        </div>
                        <div>
                            <label for="income_${i}">Income for Person ${i}</label>
                            <input type="text" name="income_${i}" id="income_${i}">
                        </div>
                        <div>
                            <label for="expense_${i}">Expenses for Person ${i}</label>
                            <input type="text" name="expense_${i}" id="expense_${i}">
                        </div>
                    `;
                    expensesContainer.append(inputHTML);
                }
            });

            $('#submit-button').on('click', function() {
                var numIncomes = parseInt($('#numIncomes').val());
                var incomesData = [];
            
                for (var i = 1; i <= numIncomes; i++) {
                    var incomeData = {
                        name: $('#name_' + i).val(),
                        income: $('#income_' + i).val(),
                        expense: $('#expense_' + i).val(),
                    };
                    incomesData.push(incomeData);
                }
                console.log('incomesData:', incomesData);
            
                const csrftoken = Cookies.get('csrftoken');
            
                // Send the data to the server using AJAX.
                $.ajax({
                    beforeSend: function(xhr, settings) {
                        xhr.setRequestHeader('X-CSRFToken', csrftoken); // Include CSRF token in headers
                    },
                    type: 'POST',
                    url: '/process_incomes/',
                    data: JSON.stringify({ incomesData: incomesData }), // Convert data to JSON
                    contentType: 'application/json',
                    success: function(response) {
                        // Handle the server's response, if needed
                        console.log('Response: ',response); 
                
                        // Display the processed data in the results-container
                        var resultsContainer = $('#results-container');
                        resultsContainer.empty();
                        resultsContainer.html('Processed Data: ' + JSON.stringify(response.processedData));
                    },
                    error: function(error) {
                        // Handle errors, if any
                        console.error(error, 'hello');
                        console.log(incomesData);
                    }
                });
                
            });
        });
    </script>
</head>
<body>
    <h1>Budget Splitter</h1>
    <form method="post" action="{% url 'process_incomes' %}">
        {% csrf_token %}
        <label for="numIncomes">Enter Number of Incomes:</label>
        <input type="number" id="numIncomes" name="numIncomes" min="1">
        <br>
        <div id="expenses-container"></div>
        <br>
        <button type="button" id="submit-button">Submit</button>
    </form>

    <div id="results-container"></div>
</body>
</html>


