<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}My Website{% endblock %}</title>
</head>
<body>
    <header>
        <h1>Budget Splitter</h1>
    </header>
    <main>
        <form method='post'>
            {% csrf_token %}
            {{form.as_p}}
            <button type='submit'>Submit</button>
        </form>

        {% if result %}
        <h2>Results:</h2>
        <ul>
            {% for result in results %}
            <li>Name: {{ result.name }}</li>
            <li>Single Value: {{ result.single_value }}</li>
            <li>Multi Values: {{ result.multi_values }}</li>
            {% endfor %}
        </ul>
        {% endif %}
    </main>
</body>
</html>